.keyboard {
  @extend %clearfix;
  position: relative;
  margin: 0 auto;
  clear: both;

  @media screen and (max-width: $b-vp) {
    margin: 20px auto;
    max-width: 382px;
  }

  @media screen and (max-width: $a-vp) {
    max-width: 285px;
  }

  .key {
    position: relative;

    display: block;
    float: left;
    width: $key-width;
    height: $key-height;

    margin-top: $key-height + 10;
    margin-right: 11px;

    box-sizing: border-box;

    border: 1px solid $key-border;
    border-radius: 5px;

    color: $light-grey;
    font-size: $base-font-size * 0.75;
    text-align: center;

    cursor: pointer;

    @media screen and (max-width: $a-vp) {
      width: $key-width * 0.65;
      height: $key-height * 0.65;

      margin-top: ($key-height * 0.75) + 10;
      margin-right: 2px;

    }

    @media screen and (max-width: $b-vp) and (min-width: $a-vp) {
      width: $key-width * 0.75;
      height: $key-height * 0.75;

      margin-top: ($key-height * 0.75) + 10;

    }

    &.sharp-flat {
      position: absolute;
      margin-top: 0;
      background-color: $sharp-color;
      text-color: $text-colour-light;

      &:nth-child(2){
        left: $key-width - ($key-width / 2) + 10;

        @media screen and (max-width: $a-vp) {
          left: (($key-width * 0.65) / 2);
        }

        @media screen and (min-width: $a-vp) and (max-width: $b-vp) {
          left: ($key-width * 0.75) - (($key-width * 0.75) / 2) + 10;
        }
      }

      &:nth-child(4){
        left: ($key-width * 2) - ($key-width / 2) + 20;

        @media screen and (max-width: $a-vp) {
          left: (($key-width * 0.65) * 2) - (($key-width * 0.65) / 2) + 4;
        }

        @media screen and (min-width: $a-vp) and (max-width: $b-vp) {
          left: (($key-width * 0.75) * 2) - (($key-width * 0.75) / 2) + 20;
        }
      }

      &:nth-child(7){
        left: ($key-width * 4) - ($key-width / 2) + 30;

        @media screen and (max-width: $a-vp) {
          left: (($key-width * 0.65) * 4) - (($key-width * 0.65) / 2) + 6;
        }

        @media screen and (min-width: $a-vp) and (max-width: $b-vp) {
          left: (($key-width * 0.75) * 4) - (($key-width * 0.75) / 2) + 30;
        }
      }

      &:nth-child(9){
        left: ($key-width * 5) - ($key-width / 2) + 40;

        @media screen and (max-width: $a-vp) {
          left: (($key-width * 0.65) * 5) - (($key-width * 0.65) / 2) + 8;
        }

        @media screen and (min-width: $a-vp) and (max-width: $b-vp) {
          left: (($key-width * 0.75) * 5) - (($key-width * 0.75) / 2) + 40;
        }
      }

      &:nth-child(11){
        left: ($key-width * 6) - ($key-width / 2) + 50;

        @media screen and (max-width: $a-vp) {
          left: (($key-width * 0.65) * 6) - (($key-width * 0.65) / 2) + 10;
        }

        @media screen and (min-width: $a-vp) and (max-width: $b-vp) {
          left: (($key-width * 0.75) * 6) - (($key-width * 0.75) / 2) + 50;
        }
      }
    }

    &:nth-child(12){
      margin-right: 0;
    }

    span {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      height: $base-font-size * 2;
      width: 100%;
      margin: auto;
      line-height:  $base-font-size;
    }
  }
}
